
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Part_2</title>
    <link href="~/Content/StyleSheet1.css" rel="stylesheet" />
</head>
<body>
    <a href="@Url.Action("Index","Shop")">Home</a>
   

        @using (Html.BeginForm("Part_2", "Shop", FormMethod.Post))
        {
            <h1>Part_2</h1>
            
                <div>
                    <label>Name:</label>         <br />  
                        <input id="Text1" type="text" name="Name" required /><br /><br />
                        <label>Description:</label>    <br />  <input id="Text1" type="text" name="Descr" required/><br /><br />
                        <label>Price:</label>    <br />          <input id="Text1" type="number" name="Prices" min="0" required /><br /><br />
                        <label>Quantity Available:</label> <br />
                   <input id="Text1" type="number" name="Quantity" min="0" required/>
                
                    <br /><br />
                <input id="Submit1" type="submit" value="Save" />

                                                        
                @*<input id="Submit1" type="submit" value="Cancel" onclick="window.location.href='@Url.Action("Index", "Shop")';" />*@

            </div>
        }

</body>
</html>
